# Multiple Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#importing dataset

data = pd.read_csv("50_Startups.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# independent variable
X = data.iloc[:,:-1]
Y = data.iloc[:,4]

### creating dummies for categorical column : State

In [8]:
State = pd.get_dummies(X["State"],drop_first =True)
# dropping the state column from X dataset
X = X.drop("State",axis=1)
# concatenating the dummy variables with the X dataset
X = pd.concat([X,State],axis=1)

In [9]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Splitting the dataset

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size =0.30, random_state = 0)

### Fitting Multiple Linear regresssion to the Training set

In [12]:
from sklearn.linear_model import LinearRegression
Linear_model = LinearRegression()
Linear_model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Predicting the test set results

In [17]:
y_pred = Linear_model.predict(X_test)
y_pred

array([104282.76472172, 132536.88499212, 133910.85007766,  72584.77489417,
       179920.9276189 , 114549.31079234,  66444.43261346,  98404.96840122,
       114499.82808602, 169367.50639895,  96522.6253998 ,  88040.6718287 ,
       110949.99405525,  90419.1897851 , 128020.46250064])

In [14]:
from sklearn.metrics import r2_score

In [16]:
R2_score = r2_score(Y_test,y_pred)

In [18]:
R2_score

0.9358680970046241